<div>
  <header><h1>Neue Reise erstellen</h1></header>
  <form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
    <app-array-section titleIcon="local_airport" title="Grundinformationen">
      <div class="title-n-status-box">
        <div class="title-box">
          <mat-form-field>
            <mat-label>Reisename</mat-label>
            <input matInput formControlName="title" />
            <mat-error>Reisename ist erforderlich</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            @for (status of tripStatuses; track status) {
              <mat-option [value]="status">{{ status }}</mat-option>
            }
          </mat-select>
          <mat-error>Status ist erforderlich</mat-error>
        </mat-form-field>
      </div>

      <div class="date-row">
        <mat-form-field>
          <mat-label>Abreisedatum</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="startDate" />
          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
          <mat-error>Abreisedatum ist erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Rückreisedatum</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="endDate" />
          <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
          <mat-error>Rückreisedatum ist erforderlich</mat-error>
        </mat-form-field>
        @if (
          tripForm.hasError('dateRange') &&
          (tripForm.get('startDate')!.touched || tripForm.get('endDate')!.touched)
        ) {
          <mat-error>Rückreisedatum muss nach dem Abreisedatum liegen</mat-error>
        }
      </div>

      <div class="budget-row">
        <mat-form-field>
          <mat-label>Budget</mat-label>
          <input matInput formControlName="budget" type="number" />
          <mat-error>
            @if (tripForm.get('budget')!.hasError('min')) {
              Budget muss größer als 0 sein
            }
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Währung</mat-label>
          <mat-select formControlName="currency">
            @for (currency of currencies; track currency) {
              <mat-option [value]="currency">{{ currency }}</mat-option>
            }
          </mat-select>
          <mat-error>Wähurung ist erforderlich</mat-error>
        </mat-form-field>
      </div>
    </app-array-section>
    <app-array-section
      titleIcon="people"
      title="Reisende"
      addLabel="Reisenden hinzufügen"
      addBtnIcon="add"
      (onAdd)="reisendenHinzufuegen()"
    >
      <div formArrayName="travelers">
        @for (traveler of travelersControl.controls; track $index) {
          <div [formGroup]="traveler" class="option-box">
            <div class="option-title-box">
              <mat-icon>person</mat-icon>
              <h4>Reisende</h4>
              @if ($index !== 0) {
                <button
                  matButton
                  class="delete-option-btn"
                  (click)="reisendeEntfernen($index)"
                  type="button"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              }
            </div>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" type="text" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Age</mat-label>
              <input matInput formControlName="age" type="number" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Passport Number</mat-label>
              <input matInput formControlName="passportNumber" type="text" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Notes</mat-label>
              <input matInput formControlName="notes" type="text" />
            </mat-form-field>
          </div>
        }
      </div>
    </app-array-section>

    <app-array-section
      titleIcon="place"
      title="Reiseziele"
      addLabel="Reiseziele hinzufügen"
      addBtnIcon="add"
      (onAdd)="reisezielHinzufuegen()"
    >
      <div formArrayName="destinations">
        @for (destination of destinationsControl.controls; track $index) {
          <div [formGroup]="destination" class="option-box">
            <div class="option-title-box">
              <mat-icon>place</mat-icon>
              <h4>Reiseziel</h4>
              @if ($index !== 0) {
                <button
                  matButton
                  class="delete-option-btn"
                  (click)="reisezieleEntfernen($index)"
                  type="button"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              }
            </div>
            <mat-form-field>
              <mat-label>Stadt</mat-label>
              <input matInput formControlName="city" type="text" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Land</mat-label>
              <input matInput formControlName="country" type="text" />
            </mat-form-field>
            <div class="date-row">
              <mat-form-field>
                <mat-label>Ankuftsdatum</mat-label>
                <input matInput [matDatepicker]="arrivalDatePicker" formControlName="arrivalDate" />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="arrivalDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #arrivalDatePicker></mat-datepicker>
                <mat-error>Ankuftsdatum ist erforderlich</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Abreisedatum</mat-label>
                <input matInput [matDatepicker]="departurePicker" formControlName="departureDate" />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="departurePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #departurePicker></mat-datepicker>
                <mat-error>Abreisedatum ist erforderlich</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Nights</mat-label>
                <input matInput formControlName="nights" type="number" value="nights" />
              </mat-form-field>
              @if (
                destinationsControl.hasError('dateRange') &&
                (destinationsControl.get('arrivalDate')!.touched ||
                  destinationsControl.get('departureDate')!.touched)
              ) {
                <mat-error>Abreisedatum muss nach dem Ankuftsdatum liegen</mat-error>
              }
            </div>
          </div>
        }
      </div>
    </app-array-section>
    <div class="button-box">
      <button matButton type="button" (click)="onCancel()">Abbrechen</button>
      <button matButton type="submit" [disabled]="tripForm.invalid">
        {{ id() ? 'Bearbeiten' : 'Speichern' }}
      </button>
    </div>
  </form>
</div>
