<div>
  <header>
    <div class="title-box">
      <h1>Meine Reisen</h1>
      <button matButton="filled" (click)="newTrip()"><mat-icon>add</mat-icon> New Trip</button>
    </div>

    <span>{{ filteredTrips().length }} Reisen gesamt</span>
  </header>

  <div class="trip-search-container">
    <app-trip-search [(searchTerm)]="searchTerm" />
    <mat-form-field>
      <mat-label>Trip Status</mat-label>
      <mat-select [formControl]="statusControl">
        <mat-option [value]="null"> Alle </mat-option>
        @for (status of tripStatuses; track status) {
          <mat-option [value]="status">{{ status }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="trip-cards-container">
    @for (trip of filteredTrips(); track trip.id) {
      <app-trip-card [trip]="trip" (deleteTrip)="deleteTrip($event)" />
    }
  </div>
</div>
