.trip-card {
  cursor: pointer;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  }

  .action-buttons {
    opacity: 0;
    transition: opacity 0.15s;
  }

  &:hover .action-buttons {
    opacity: 1;
  }

  .card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    .title-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem
    }
    .trip-title {
        &:hover {
            color: #6366f1;;
        }
    }
  }

  mat-card-header {
    padding: 0;
    flex: 1;

    mat-card-title {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  mat-card-content {
    padding: 0.75rem 1rem;

    span {
      font-size: 0.78rem;
      color: #64748b;
      display: block;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.85rem;
      font-weight: 600;
      margin: 0;
    }
  }

  mat-card-footer {
    padding: 0.75rem 1rem 1rem;
    border-top: 1px solid #f1f5f9;

    p {
      font-size: 0.78rem;
      color: #64748b;
      margin: 0;
    }
  }
}