<div>
  <mat-card class="trip-card" appearance="outlined">
    <div class="card-header">
      <mat-card-header>
        <div class="title-box">
          <mat-card-title class="trip-title" (click)="goToDetail(trip().id)">{{
            trip().title
          }}</mat-card-title>
          <div class="action-buttons">
            <button matIconButton (click)="editTrip(trip().id)"><mat-icon>edit</mat-icon></button>
            <button matIconButton (click)="removeTrip(trip().id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-header>
      <mat-chip>{{ trip().status }}</mat-chip>
    </div>

    <mat-card-content>
      <span>
        {{ trip().startDate | date: 'dd.MM.yyyy' }} - {{ trip().endDate | date: 'dd.MM.yyyy' }}
      </span>
      <p>Budget: {{ trip().budget }} {{ trip().currency }}</p>
    </mat-card-content>
    <mat-card-footer class="trip-card-footer">
      <p>Travelers: {{ trip().travelers.length }} Reisende</p>
    </mat-card-footer>
  </mat-card>
</div>
